@* Car Game 2D project partial *@
<link rel="stylesheet" href="css/project.css" />
<div class="project">
    <h3>Naascar 2D</h3>
    <div class="project-grid">
        <img class="project-display-img" src="@Url.Content("~/images/gifs/CarGame_2D.gif")" alt="2D Car Game gameplay"> 
        <div class="carGame2d-images-display">
            <img class="project-display-img" src="@Url.Content("~/images/projects/2dCarGame-menu.png")" alt="2D Car Game Menu">
            <img class="project-display-img" src="@Url.Content("~/images/projects/2dCarGame-lvlSelect.png")" alt="2D Car Game Lvl Select">
            <img class="project-display-img" src="@Url.Content("~/images/pygame-logo.png")" alt="Pygame Logo">
            <img class="project-display-img" src="@Url.Content("~/images/Opengl-logo.png")" alt="OpenGL Logo">
        </div>
    </div>
    <div class="project-text solo-txt">
        <p>During the fall semester of 2024, I had the opportunity to work with Pygame and OpenGL to create my own engine in a Computer Graphics course. This is where my love of programming really came to light, and was the first time I would genuinely look forward to working on a school project instead of playing videogames or watch YouTube.</p>
        <br>
        <p>The first project in this course was a 2D game, inspirationally named Naascar. The assignment was just to make a block breaker, but I took it a bit further. Since the only requirement was to implement the “bouncing off the wall” mechanic, I decided to use this as the wall collision in a two player racing game. It turned out to be a fun and interesting new mechanic to an otherwise overdone style of racing games.</p>
    </div>
</div>