@* Cult of the Jarls project partial *@
<div class="project">
    <h3 class="project-title">Cult of the Jarls</h3>
    <div class="project-grid">
        <div class="project-text">
            <p>I began working on Cult of the Jarls immediately after the 3 week course had concluded. This is by all means the most fun thing I have ever had the pleasure of doing. I spend every free minute I have developing this game, alongside my studies. I'm also drawing everything myself in Aseprite, and won't download or generate anything that touches this project. Currently looking for a sound designer hmu :3</p>
            <br>
            <p>You can check out its current state here:</p>
            <p><a href="https://giantmushy.itch.io/guns-gods-galleons" target="_blank">giantmushy.itch.io/guns-gods-galleons</a></p>
        </div>
        <img class="project-display-img" src="@Url.Content("~/images/projects/TLJ-bigPicture.png")" alt="Cult of the Jarls gameplay">
    </div>
    <div class="project-gallery">
        <img class="project-display-img" src="@Url.Content("~/images/projects/TLJ-bigShip.png")" alt="The Last Jarl big ship">
        <img class="project-display-img" src="@Url.Content("~/images/projects/TLJ-gunfire.png")" alt="The Last Jarl gunfire">
    </div>
    <div class="project-gallery gallery-three">
        <img class="project-display-img" src="@Url.Content("~/images/projects/TLJ-ShipMed.png")" alt="Medium ship design">
        <img class="project-display-img" src="@Url.Content("~/images/projects/TLJ-ShipSmall.png")" alt="Small ship design">
        <img class="project-display-img" src="@Url.Content("~/images/projects/TLJ-BulletPickups.png")" alt="Bullet pickups">
    </div>
    <div class="project-gallery gallery-three">
        <img class="project-display-img" src="@Url.Content("~/images/projects/TLJ-TrippleShot.gif")" alt="Triple shot ability">
        <img class="project-display-img" src="@Url.Content("~/images/projects/TLJ-MulitShot.gif")" alt="Multi shot ability">
        <img class="project-display-img" src="@Url.Content("~/images/projects/TLJ-pickup.png")" alt="Pickup items">
    </div>
</div>