@* Woodworking project partial *@
<link rel="stylesheet" href="css/project.css" />
<div class="project">
    <h3>Woodworking</h3>
    <div class="project-text">
        <p>I love woodworking! I started out in construction when I first graduated Collage and even took two semesters of Carpentry in Árskóli in Sauðárkrókur. I also worked as a Carpenter's Assistant for 3 years before starting my degree in Computer Science. Here are some pictures :)</p>
    </div>
    <div class="project-grid">
        <img class="project-display-img" src="@Url.Content("~/images/projects/Construction/BoxOpen.png")" alt="Picture of a box that I made in school">
        <img class="project-display-img" src="@Url.Content("~/images/projects/Construction/Hardhat.png")" alt="Picture of my Hardhat from my construction job"> 
    </div>
    <div class="project-grid">
        <img class="project-display-img" src="@Url.Content("~/images/projects/Construction/GrandpaWelding.gif")" alt="">
        <img class="project-display-img" src="@Url.Content("~/images/projects/Construction/NotMimic.png")" alt=""> 
    </div>
    <div class="project-grid">
        <img class="project-display-img" src="@Url.Content("~/images/projects/Construction/TableUnderConstruction.jpg")" alt="">
        <img class="project-display-img" src="@Url.Content("~/images/projects/Construction/FloatingRooms.gif")" alt=""> 
    </div>
    <div class="project-grid">
        <img class="project-display-img" src="@Url.Content("~/images/projects/Construction/TablePaintedInBathroom.png")" alt="">
        <img class="project-display-img" src="@Url.Content("~/images/projects/Construction/Blueprints.png")" alt=""> 
    </div>
    <div class="project-grid">
        <img class="project-display-img" src="@Url.Content("~/images/projects/Construction/Table.png")" alt="">
        <img class="project-display-img" src="@Url.Content("~/images/projects/Construction/WineCellar.png")" alt=""> 
    </div>
    <img class="project-display-img solo-image" src="@Url.Content("~/images/projects/Construction/ItsBeautiful.gif")" alt="">
</div>