@* Footer partial *@
<link rel="stylesheet" href="@Url.Content("~/css/footer.css")" />
<div class="site-footer">
  <div class="footer-inner">
    <div class="contact-info">
      <h2>Contact Info</h2>

      <div class="contact-columns">
        <div>
          <div class="footer-contact-data">
            <img class="icon" src="@Url.Content("~/images/personal_email.png")" alt="Email">
            <p>thorrib@live.com</p>
          </div>
          <div class="footer-contact-data">
            <img class="icon" src="@Url.Content("~/images/work_email.png")" alt="Email (RU)">
            <p>thorvardur23@ru.is</p>
          </div>
          <div class="footer-contact-data">
            <img class="icon" src="@Url.Content("~/images/phone.png")" alt="Phone">
            <p>772-2112</p>
          </div>
        </div>

        <div>
          <div class="footer-contact-data">
            <img class="icon" src="@Url.Content("~/images/discord.png")" alt="Discord">
            <p>giant_mushroom</p>
          </div>
          <div class="footer-contact-data">
            <img class="icon" src="@Url.Content("~/images/github.png")" alt="GitHub">
            <p>github.com/GiantMushy</p>
          </div>
          <div class="footer-contact-data">
            <img class="icon" src="@Url.Content("~/images/linkedin.png")" alt="Name">
            <p>Þorvarður Helgi Bjarnason</p>
          </div>
        </div>
      </div>
    </div>

    <div class="thank-you-msg">
      <h2>Thank you!</h2>
      <div>
        <p>
          Thank you for taking an interest in my work! I greatly appreciate any feedback from whomever wants to give it. Don't hesitate to contact me anywhere you'd like (⌒‿⌒)
        </p>
      </div>
    </div>
  </div>
</div>